<svg xmlns:th="https://www.thymeleaf.org">
  <th:block th:fragment="render(type)">
    <g transform="translate(20, 0)" th:with="backgroundColor=${colors.nodeBackgroundColors.get(type)}">
      <rect th:if="${backgroundColor != null}"
        x="1" y="5" rx="1" ry="1" width="4" height="4"
        th:fill="${backgroundColor}" />
      <g th:stroke="${colors.decoratorColor}" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path d="M7.5 3H9.5V8H6.5" />
        <path d="M4 8H2V3H5" />
        <path d="M4 1.5L5.5 3L4 4.5" />
        <path d="M7.5 9.5L6 8L7.5 6.5" />
      </g>
    </g>
  </th:block>
</svg>
