<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.knime.gateway.local.service.ServiceFactory">
      <ServiceFactory
            ServiceFactory="com.knime.gateway.rest.client.RestClientServiceFactory">
      </ServiceFactory>
   </extension>
   <extension
         point="com.knime.gateway.local.patch.EntityPatchApplier">
      <EntityPatchApplier
            EntityPatchApplier="com.knime.gateway.rest.client.patch.JsonPatchApplier">
      </EntityPatchApplier>
   </extension>

</plugin>
