<th:block th:fragment="nodeTorso(type, kind, icon)">
  <g>
    <!-- Missing Node -->
    <th:block th:insert="fragments/node/torso/nodeTorsoMissing :: torsoMissing" />

    <!-- Forbidden Node -->
<!--     <th:block th:if="${type == 'Forbidden'}" th:insert="fragments/node/torso/nodeTorsoForbidden :: torsoForbidden" /> -->

    <!-- Metanode -->
<!--     <th:block th:if="${type != 'Missing' and type != 'Forbidden' and kind == 'metanode'}" th:insert="fragments/node/toroso/nodeTorsoMetanode :: torsoMetanode" /> -->

    <!-- Normal Node (known node) -->
<!--     <th:block th:if="${type != 'Missing' and type != 'Forbidden' and kind != 'metanode' and isKnownNode(type)}"> -->
<!--       <th:block th:insert="fragments/node/nodeTorsoNormal :: torsoNormal( -->
<!--           isComponent=${kind == 'component'}, -->
<!--           icon=${icon}, -->
<!--           nodeType=${type} -->
<!--         )" /> -->
<!--     </th:block> -->

    <!-- Unknown Node -->
<!--     <th:block th:if="${type != 'Missing' and type != 'Forbidden' and kind != 'metanode' and !isKnownNode(type)}" -->
<!--                 th:insert="fragments/node/torso/nodeTorsoUnknown :: torsoUnknown" /> -->
  </g>
</th:block>