<svg xmlns:th="https://www.thymeleaf.org">
  <th:block th:fragment="nodeLabel(node)" th:with="label=${nodeUtils.getNodeLabel(node)}">
    <foreignObject th:if="${label != null}"
      th:attr="x=${labelUtils.calculateX()},
        y=${labelUtils.calculateY(node)},
        width=${shapes.NODE_LABEL_WIDTH},
        height=${shapes.NODE_LABEL_LINE_HEIGHT * shapes.NODE_LABEL_MAX_LINES}">
      <div xmlns="http://www.w3.org/1999/xhtml" class="node-label" th:text="${label}"></div>
    </foreignObject>
  </th:block>
</svg>