<svg xmlns:th="https://www.thymeleaf.org">
  <th:block th:fragment="nodeState(state)" th:with="executionState=${state != null ? state.executionState : null}, 
    error=${state != null ? state.error : null},
    warning=${state != null ? state.warning : null},
    trafficLight=${nodeUtils.getTrafficLight(executionState)}
  ">
    <g th:transform="'translate(0, ' + ${shapes.NODE_SIZE + shapes.NODE_STATUS_MARGIN_TOP} + ')'">
      <rect th:attr="width=${shapes.NODE_SIZE},
           height=${shapes.NODE_STATUS_HEIGHT},
           fill=${colors.trafficLight.background},
           stroke=${colors.darkeningMask},
           stroke-width='.3',
           rx='1'" />
    <!--/* node's static states */-->
    <g th:if="${trafficLight} != null">
      <th:block th:each="active,iter : ${trafficLight}">
        <circle th:cx="6 + 10 * ${iter.index}" cy="6" r="4" th:fill="${nodeUtils.getTrafficFillColor(active, iter.index)}" />
        <circle th:cx="6 + 10 * ${iter.index}" cy="6" r="3.5" fill="none" th:stroke="${nodeUtils.getTrafficStrokeColor(active, iter.index)}" />
      </th:block>
    </g>
    <text
      th:if="${trafficLight == null and #strings.equals(executionState, 'QUEUED')}"
      th:with="loopStatus=${state != null ? #strings.toString(state.loopStatus) : null}"
      th:x="${shapes.nodeSize} / 2"
      th:fill="${colors.textDefault}"
      text-anchor="middle"
      y="8.5"
      th:text="${loopStatus != null and loopStatus == 'PAUSED'} ? 'paused' : 'queued'"
    ></text>

    <!--/* node's animated execution state, should not exist in saved workflows, leaving it here for reference */-->
    <!--/* <template v-else-if="executionState === 'EXECUTING'">
      <circle
        v-if="!progress"
        r="4"
        :cy="$shapes.nodeStatusHeight / 2"
        :fill="$colors.nodeProgressBar"
      />
    */-->
      <!--/* progress bar with text */-->
      <!--/* <template v-else>
        <text
          :fill="$colors.text.default"
          :x="$shapes.nodeSize / 2"
          text-anchor="middle"
          y="8.5"
        >
          {{ progressDisplayPercentage }}%
        </text>
        <rect
          :height="$shapes.nodeStatusHeight"
          :width="progressBarWidth"
          :fill="$colors.nodeProgressBar"
          rx="1"
        />
        <g :clip-path="percentageClipPath">
          spacer for clip-path  
          <rect
            :height="$shapes.nodeStatusHeight"
            :width="$shapes.nodeSize"
            fill="none"
          />
          <text
            :x="$shapes.nodeSize / 2"
            y="8.5"
            fill="white"
            text-anchor="middle"
          >
            {{ progressDisplayPercentage }}%
          </text>
        </g>
      </template>
    </template> */-->

    <!--/* errors & warnings */-->
    <g th:if="${error != null}"
      th:transform="'translate(' + ${shapes.NODE_SIZE / 2} + ', ' + ${shapes.NODE_STATUS_HEIGHT} + ')'">
      <circle r="5" th:fill="${colors.error}" />
      <line x1="-2.25" y1="-2.25" x2="2.25" y2="2.25" stroke="white" />
      <line x1="2.25" y1="-2.25" x2="-2.25" y2="2.25" stroke="white" />
    </g>
    <g th:if="${error == null and warning != null}"
      th:transform="'translate(' + ${shapes.NODE_SIZE / 2 - 6} + ', 5.5)'">
      <path
        d="M6,1.25 L0.5,10.75 H11.5 Z"
        th:fill="${colors.warning}"
        th:stroke="${colors.knimeColors.Masala}"
        stroke-linejoin="round"
      />
      <line x1="6" x2="6" th:stroke="${colors.knimeColors.Masala}" y1="4.2" y2="7.3" />
      <circle r="0.5" cy="8.75" cx="6" th:fill="${colors.knimeColors.Masala}" />
    </g>
  </g>
  </th:block>
</svg>