<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension-point id="com.knime.gateway.local.service.ServiceFactory" name="ServiceFactory" schema="schema/com.knime.gateway.local.service.ServiceFactory.exsd"/>
 <extension-point id="com.knime.gateway.local.patch.EntityPatchApplier" name="EntityPatchApplier" schema="schema/com.knime.gateway.local.patch.EntityPatchApplier.exsd"/>
 <extension
       point="org.eclipse.ui.preferencePages">
    <page
          category="org.knime.workbench.ui.preferences.gui"
          class="com.knime.gateway.local.workflow.prefs.RemoteWorkflowEditorPreferencePage"
          id="org.knime.workbench.ui.preferences.gui.remoteworkfloweditor"
          name="Remote Workflow Editor">
    </page>
 </extension>
</plugin>
