<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.knime.gateway.service.ServiceFactory" name="ServiceFactory" schema="schema/org.knime.gateway.service.ServiceFactory.exsd"/>
   <extension-point id="org.knime.gateway.entity.EntityBuilderFactory" name="EntityBuilderFactory" schema="schema/org.knime.gateway.entity.EntityBuilderFactory.exsd"/>
   <extension-point id="org.knime.gateway.server.KnimeGatewayServer" name="KnimeGatewayServer" schema="schema/org.knime.gateway.server.KnimeGatewayServer.exsd"/>
   <extension-point id="org.knime.gateway.project.WorkflowProjectFactory" name="WorkflowProjectFactory" schema="schema/org.knime.gateway.project.WorkflowProjectFactory.exsd"/>

</plugin>
