<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="SpaceProvidersFactory" name="Space Providers Factory" schema="schema/SpaceProvidersFactory.exsd"/>
   <extension-point id="KaiHandlerFactory" name="KaiHandlerFactory" schema="schema/KaiHandlerFactory.exsd"/>
   <extension
         point="org.knime.gateway.api.entity.EntityBuilderFactory">
      <EntityBuilderFactory
            EntityBuilderFactory="org.knime.gateway.impl.webui.entity.DefaultEntityBuilderFactory">
      </EntityBuilderFactory>
   </extension>
</plugin>
