<?xml version="1.0" encoding="utf-8"?>
<svg
  th:attr="width=${bounds.width}, height=${bounds.height}, viewBox=${viewbox}"
  xmlns="http://www.w3.org/2000/svg"
  xmlns:xlink="http://www.w3.org/1999/xlink"
>
  <defs th:insert="fragments/globalStyles"></defs>
  <th:block th:each="annotation : ${annotations}">
    <th:block th:replace="fragments/annotations/workflowAnnotation :: render(${annotation})" />
  </th:block>
  <th:block th:each="node : ${nodes}">
    <th:block th:replace="fragments/node/node :: render(${node})" />
  </th:block>
  <th:block th:each="connection : ${connections}">
    <th:block th:replace="fragments/connectors/connector :: render(${connection})" />
  </th:block>
</svg>
