<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.knime.core.rpc.NodePortRpcServerFactory">
      <NodePortRpcServerFactory
            impl="org.knime.gateway.impl.jsonrpc.ports.JsonRpcTableServerFactory">
      </NodePortRpcServerFactory>
      <NodePortRpcServerFactory
            impl="org.knime.gateway.impl.jsonrpc.ports.JsonRpcFlowVariableServerFactory">
      </NodePortRpcServerFactory>
   </extension>

</plugin>
