<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.knime.workbench.repository.nodes">
      <node
            deprecated="false"
            factory-class="org.knime.gateway.testing.helper.rpc.node.RpcNodeFactory"
            hidden="true">
      </node>
      <node
            deprecated="false"
            factory-class="org.knime.gateway.testing.helper.rpc.node.SingleRpcNodeFactory"
            hidden="true">
      </node>
      <node
              deprecated="false"
              factory-class="org.knime.gateway.testing.helper.webui.node.DummyNodeFactory_v41"
              hidden="true">
      </node>

   </extension>
   <extension
         point="org.knime.core.ui.nodetriples">
      <tripleprovider
            factory-class="org.knime.gateway.testing.helper.webui.TestNodeTripleProviderFactory">
      </tripleprovider>
   </extension>

</plugin>
