{{>licenseInfo}}

package {{serviceInterface2JsonRpcMap.mustache#package}};

{{#tags}}
import org.knime.gateway.jsonrpc.local.service.JsonRpc{{.}}Service;
import org.knime.gateway.v0.service.{{.}}Service;
{{/tags}}

import org.knime.gateway.service.GatewayService;

/**
 * Maps a service interface (i.e. it's class) to the respective JsonRpc-service.
 *
 {{>authors}}
 */
{{>generatedAnnotation}}
public class ServiceInterface2JsonRpcMap {

    private ServiceInterface2JsonRpcMap() {
        //utility class
    }

    public static Class<?> get(Class<? extends GatewayService> clazz) {
    {{#tags}}
        if(clazz == {{.}}Service.class) {
            return JsonRpc{{.}}Service.class;
        }        
    {{/tags}}
        else {
            throw new IllegalArgumentException("No service mapping.");
        }    
    }
}
